* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 20px 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 0 auto 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
  margin: 10px auto 0;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 5px auto;
}